<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <formly-form [form]="input" [fields]="fields" [model]="model">
      </formly-form>
    </div>
  </div>
  <div class="submit">
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-success" (click)="onSubmit()">
          submit
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="pending" class="waiting">
    <hr />
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="error" class="waiting">
    <hr />
    <p>'fail ! please enter correct name'</p>
  </div>
</div>
