@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Redressed&family=Roboto:ital,wght@1,300&family=Zen+Kurenaido&display=swap");
h1,
p,
a,
button {
  font-family: "Poppins", sans-serif;
}

.container {
  height: 60%;
  margin-top: 20%;
  display: block;
  justify-content: center;
  text-align: center;
}

.city {
  color: coral;
}

button {
  width: 100%;
}
